<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01_iOSQuiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5AF9DC5C1B4E00DE00A70011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AF9DC701B4E00DE00A70011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AF9DC7B1B4E00DF00A70011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
